div{
    position: absolute;
}
.main{
    width: 800px;
    height: 500px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.top{
    background-color: rgb(255, 230, 214);
    top: 0;
    width: 100%;
    height: 100px;
}

.center-left{
    top: 100px;
    width: 150px;
    height: 300px;
    background-color: rgb(180, 198, 234);
}
.center-center{
    top: 100px;
    width: 500px;
    left: 150px;
    height: 300px;
    background-color: rgb(227, 236, 219);
}
.center-right{
    top: 100px;
    width: 150px;
    height: 300px;
    right: 0px;
    background-color: rgb(45, 83, 153);
}
.bottom{
    background-color: rgb(119, 113, 113);
    width: 100%;
    height: 100px;
    bottom: 0;
}