 *{
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
 }

.main{
    width: 100%;
    height: 100vh;
}

.menu{
    width: 100%;
    background-color: #252a3a;
    font-size: 16px;    
    padding-bottom: 2%;
}

.menu button{
    border-radius: 20px;
    padding: 8px 16px;
    margin: 16px;
    background-color: #1b98f8;
    border: 0;
    color: white;
    margin-left: 50%;
    transform: translate(-50%,0%);
}
.menu a {
    margin-left: 20px;
    color: white;
}
.menu p{
    margin-top: 1%;
    margin-bottom: 1%;
}

.menu h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: rgb(8, 107, 255);
}



.mail{
    overflow-y: auto;
    overflow-x: hidden;
}

.email{
    padding: 14px 16px;
    border-bottom: 1px solid #ddd;
}

.email img{
    width: 42px;
    height: 42px;
    border-radius: 3px;
    margin-right: 8px;
}

.email h4{
    text-transform: uppercase;
    color: #999;
    font-size: 13px;
}
.email h3{
    color: black;
    font-size: 16px;
}
.email p{
    color: #000;
    font-size: 13px;
    margin: 7px 0;
}

.first{
    background-color: #eee
}

.new {
    border-left: 6px solid #1b98f8;
}

.mails{
    height: 100%;
    padding: 0 16px;
}

.title{
    display: flex;
    padding-top: 16px;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}
.title h1{
    font-size: 32px;
}

.text{
    font-size: 16px;
    margin: 16px 0;
}

.person{
    color: #1b98f8;
}
.date{
    color: #999;
}

.title button{
    color: #666;
    font-size: 16px;
    padding: 6px 26px;
    border-radius: 50px;
    border: 1px solid #ddd;
    background-color: transparent;
    margin: 2px;
}

.buttons{
    text-align: right;
}


@media only screen and (min-width: 639px) {
    .main{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 150px auto;
        /*overflow: hidden;*/
        
    }
    .cont{
        display: grid;
        grid-template-columns: 350px auto;
    }
    @media only screen and (max-height: 583px) {
        .main{
            width: 100%;
            height: 100vh;
            display: grid;
            grid-template-columns: 150px auto;
        }
    
        .cont{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 25% auto;
        }
    }
}


